.accent { color: @accent; }
.magenta { color: @magenta; }
.purple{ color: @purple;}
.teal { color: @teal;}
.lime { color: @lime;}
.brown { color: @brown;}
.pink { color: @pink;}
.orange { color: @orange;}
.blue { color: @blue;}
.red { color: @red;}
.green { color: @green;}