.accent { color: @accent; }

.white	 { color: @white; }
.black   { color: @black; }
.blue    { color: @blue; }
.brown   { color: @brown; }
.green   { color: @green; }
.lime    { color: @lime; }
.magenta { color: @magenta; }
.orange  { color: @orange; }
.pink    { color: @pink; }
.purple  { color: @purple; }
.red     { color: @red; }
.teal    { color: @teal; }

.whitebg	 { background-color: @white; }
.blackbg   { background-color: @black; }
.bluebg    { background-color: @blue; }
.brownbg   { background-color: @brown; }
.greenbg   { background-color: @green; }
.limebg    { background-color: @lime; }
.magentabg { background-color: @magenta; }
.orangebg  { background-color: @orange; }
.pinkbg    { background-color: @pink; }
.purplebg  { background-color: @purple; }
.redbg     { background-color: @red; }
.tealbg    { background-color: @teal; }
