body {
	font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6 
{
	font-weight: 100;
	color: @accent;
	line-height: 1em;
	text-transform: lowercase;
}
h1 { font-size: 4em;}
h2 { font-size: 3em; }
h4 {
	font-weight: normal;
	text-transform: uppercase;
}