@fonts: "Segoe UI", "Segoe WP", "Helvetica Neue", Roboto, sans-serif;

body {
	font-family: @fonts;
}

h1, h2, h3, h4, h5, h6 
{
	font-weight: 100;
	text-transform: lowercase;
	margin-top:5px;
	margin-bottom:0px;
}

h1, h2 {
	font-family: "Segoe UI Light", @fonts;
}

h1 { font-size: 3.8em; }
h2 { font-size: 2em; }

h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase;
}