@import "metro.less";
nav {
	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			display: inline;
			margin-right: 20px;
		}
		
		a { 
			color: @inactive;
			font-size: @baseFontSize * 1.6;
			text-decoration: none;
			text-transform: lowercase;

			&.active 
			{
				color: @foreground;
			}
		}
	}
}

footer {
	font-size: 90%;
}

img {
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 7px #777;  
}
img.left {
	float: left;
	margin-right: 20px;

}

img.right {
	float: right;
	margin-left: 20px;
}


ol.metro-list { margin-left: 10px; }


h1, h2, h3, h4, h5, h6 {
 	color: @blue;
}

article { .clear }
.date { text-transform: uppercase; }

section.title { float: left; font-size: @baseFontSize * 4; } 

nav { float: right; margin-left: 140px; margin-top: 20px; margin-bottom: 20px; }

nav  a:hover { color: black; }
