@import "variables.less";
@import "colours.less";
@import "fonts.less";

.metro-pivot .headers {
	clear: both;
	display: block;
	white-space: nowrap;
}

.metro-pivot .pivot-item h3,
.metro-pivot .headers .header {
	#headingstyles;

	cursor: pointer;
	display: inline-block;
	font-size: @h2fontSize;
	margin-right: 24px;
	padding: 0;
	vertical-align: top;
}

.metro-pivot .headers .header.current { }
.metro-pivot .items { position: relative; }

.metro-pivot .items .pivotItem {
	display: block;
	text-align: justify;
	white-space: normal;
	width: 100%;
 }

ul.metro-list { padding: 0; }

ul.metro-list li {
	border-left: solid 30px;
	display: block;
	height: 20px;
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
	padding: 5px;
}

pre { 
	padding: 15px;
	border: 1px solid @inactive;
	background: @faded;
}

code {
	background: @faded;
	border: 1px solid @inactive;
	padding-left: 5px;
	padding-right: 5px;
}