/* Type */
@fonts: 			"Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
@headingfonts: 		"Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
@h1fontsize: 		3.8em;
@h2fontsize: 		2em; 
@baseFontSize:		14px;

/* Colors */
@magenta: 			#FF0097;
@purple: 			#A200FF;
@teal: 				#00ABA9;
@lime: 				#8CBF26;
@brown: 			#A05000;
@pink: 				#E671B8;
@orange: 			#F09609;
@blue: 				#1BA1E2;
@red: 				#E51400;
@green: 			#339933;


@accent: 			@blue;
@background: 		white;
@foreground: 		black;
@inactive: 			#aaaaaa;
@faded:				#fafafa;